<html>
    <body>
<h1>Apply now!</h1>
<form action="/application" method="POST">
    <input type="text" name="fname" placeholder="fname ">
    
    <input type="text" name="lname" placeholder="name ">
    
    <input type="text" name="age" placeholder="age ">
    
    <input type="text" name="sex" placeholder="sex ">
    
    <input type="text" name="civilstatus" placeholder="civilstatus ">
    <button>Submit!</button>
</form>
<div>
<h1> <% applicants.forEach(function, ()) %></h1>
</div>
<body>

</html>
